html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background-color:#00539f;
}

body{
    width: 600px;
    margin: auto;
    background-color: #ff9500;
    padding: 0 20px 20px 20px;
    border: 23px solid white;
}

h1{
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: #00539f;
    text-shadow: 3px 3px 10px black;
}

img{
    display: block;
    margin: auto;
    width: auto;
    box-shadow: 3px 3px 10px purple;
}

p{
    font-size:16px ;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
}

li{
    font-size: 20px;
    color: whitesmoke;
}


/*p, li, h1 {
    color : red ;
    width: 500px;
    border: 1px solid black ;
}
